hr {
  border: 1px solid #4BC0C050;
  width: 100%;
}

p {
  font-size: 1.2em
}

.App {
  margin: auto;
  padding-top: 150px;
  width: 90%;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);

  --color-theme-main: #4BC0C0;
}

.Section {
  margin: 48px 0px;
}

.FileInput {
  margin: 48px 0px;
}

.Content {
  flex-grow: 1;
}
