.UploadSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UploadSection form {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.UploadSection form * {
    margin: 18px;
    text-align: center;
}

.UploadSection form input {
    padding: 12px;
}

.UploadSection form .Checkpoint {
    width: 100%;
}

[type="file"] {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    white-space: nowrap;
    width: 1px;
  }
  
  [type="file"] + label {
    /* File upload button styles */
    background: var(--color-theme-main);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: 'Rubik', sans-serif;
    font-size: inherit;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    padding: 1rem 50px;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
  }
  
  [type="file"]:focus + label,
  [type="file"] + label:hover {
    /* File upload hover state button styles */
    background-color: #3C9999;
  }
  
  [type="file"]:focus + label {
    /* File upload focus state button styles */
    background-color: #3C9999;
  }